<p id="notice"><%= notice %></p>

<h1>LatPullDown Home画面</h1>

<table>
  <thead>
    <tr>
      <th>①User :id</th>
      <th>②Title</th>
      <th>③Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to '詳細', post %></td>
        <td><%= link_to '編集', edit_post_path(post) %></td>
        <td><%= link_to '削除', post, method: :delete, data: { confirm: 'この投稿を削除してもいいですか??' } %>
        </td>
      </tr>
    <% end %>
    <tr>#タスク編集画面(edit)の完成をすること</tr>
    <tr>#タスクfav れるようにすること</tr>
    <tr>#デザインコンセプトを考えてくること</tr>
    <p>Q.ランキング機能に関してどのように作成したら良いのか??</p>
    <p>Q.authenticate_userでのカテゴリ別の並び替え機能の実装に関して...</p>
    <h2>質問リストを明日の18時までに完成させること</h2>
    <h3>なぜ更新されないの？？？</h3>

  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_post_path %>
