  <p id="notice"><%= notice %></p>

<body>
<% @posts.each do |post| %>
  <div class = "boxA-1">
  <article class ="gaiyou">
  <%= link_to image_tag("shank.png"),  post_path(post) %>

    <% if post.image? %>
    <td><%=  image_tag post.image.url%></td>
    <% else %>
    <td><%= image_tag 'noimage.gif' %></td>
    <% end %>


    <h1><%= link_to post.title , post_path(post)%></h1>
    <p><%= post.body %></p>
    <p class="more"><%= link_to '続きを読む...' , post_path(post) %><i class ="fa fa-chevron-right"></i></p>
    <p><%= render 'posts/tag_list', tag_list: post.interest_list %></p>
    <p class = "like">
    <% if post.liked_by? current_user %>
              <%= link_to "Delete Like", post_likes_path(post), method: :delete %>
            <% else %>
              <%= link_to "Like", post_likes_path(post), method: :post %>
            <% end %></p>
  </a>
  </article>
  </div>

<% end %>
    <div class = "paginate">
    <%= paginate @posts %>
    <!-- #ページング機能の追加 -->
    </div>

</body>

