<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Latpulldown</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
  <body>
	<header>
		<div class="menu">
				<ul class="menu1">
					<li><%= link_to '新規投稿', new_post_path %></li>
				</ul>
				<ul class="menu2">
					<li><%= link_to 'Home', posts_path %></li>
				</ul>
				<ul class="menu3">
					<li><% if user_signed_in? %>
						<%= link_to 'Mypage',users_show_path(current_user)%>
						<% else %>
						<%= link_to "Signup", new_user_registration_path %>
						<% end %>
					</li>
				</ul>
				<ul class="menu4">
					<li><% if user_signed_in? %>
						<%= link_to 'Edit profile', edit_user_registration_path %>
						<% else %>
						<%= %>
						<% end %>
					</li>
				</ul>
				<ul class="menu5">
					<li><% if user_signed_in? %>
						<%= link_to "Logout", destroy_user_session_path, method: :delete %>
						<% else%>
						<%= link_to "Login", new_user_session_path %>
						<% end %>	
						</li>
				</ul>
				<ul class="menu6">
					<p><% if user_signed_in? %>
						<strong><%= current_user.email %></strong><br>
						<% end %>
					</p>
				</ul>
			</div>
	</header>
	<br>
	<main>
	    <div id ="yield-and-sub">	
			<div class ="yield">	
				<%= yield %>
			</div>
			<div class ="sub-menu">
				<div class="search">
				<h2>Search field</h2>			
					<%= search_form_for @q do |f| %>

						<%= f.search_field :title_or_body_cont %>
						<%= f.submit %>
					<% end %>
				</div>
				<div class="user-rankings">
				<h2>ユーザー記事ランキング</h2>
				<p>＃ユーザの閲覧回数が多いものから順に...</p>
				</div>
				<div class="tag-lists">
				<h2>Tag list(カテゴリ別)</h2>
				<p>#カテゴリ別の記事のみを表示したviewに(user only)</p>
				</div>
			</div>
		</div>
	</main>

	<footer>
	<td>このサイトについて<a href="https://github.com/lat-pull-down/TeamLPD">
			<img src=latpulldown/app/assets/images/gitimage.png" alt= "" height="25" width="25">

				</a></td> | <td>Copyright (C) latpulldown.inc 2016</td>
	</footer>
  </body>
</html>
