
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Melodic</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
  <body>
	<header>
		<div class="menu">
				<ul class="menu1">
				<li>
					<%= link_to new_post_path do%><i class="fa fa-newspaper-o fa-lg" aria-hidden="true">New post</i>
					<% end %>
				</li>
				</ul>
				<ul class="menu2">
				<li>
					<%= link_to posts_path do%>
					<i class="fa fa-home fa-lg" aria-hidden="true">Home</i>
					<% end %>
				</li>
				</ul>
				<ul class="menu3">
					<li><% if user_signed_in? %>
						<%= link_to users_show_path(current_user) do %>
						<i class="fa fa-font-awesome fa-lg"	 aria-hidden="true">Mypage</i>
						<% end %>
						<% else %>
						<%= link_to new_user_registration_path do%>
						<i class="fa fa-sign-in fa-lg" aria-hidden="true">Signup</i>

						<% end %>
						<% end %>
					</li>
				</ul>
				<ul class="menu4">
					<li><% if user_signed_in? %>
						<%= link_to edit_user_registration_path do %>
						<i class="fa fa-user-md fa-lg" aria-hidden="true">Edit profile</i>
						<% end %>
						<% else %>
						<%= %>
						<% end %>
					</li>
				</ul>
				<ul class="menu5">
					<li><% if user_signed_in? %>
						<%= link_to destroy_user_session_path, method: :delete do %>
						<i class="fa fa-sign-out fa-lg"aria-hidden="true">Logout</i>
						<% end %>
						<% else%>
						<%= link_to user_omniauth_authorize_path(:twitter) do %><i class="fa fa-twitter fa-lg" aria-hidden="true">twitter_in</i>
						<% end %>
 						<%#= link_to "Login", new_user_session_path %>
						<% end %>	
						</li>
				</ul>
				<ul class="menu6">
					<p><% if user_signed_in? %>
						<strong><%= current_user.email %></strong><br>
						<% end %>
					</p>
				</ul>
			</div>
	</header>
	<br>
	<!-- index にいどう
	<div class = "slide">
		<ul class = "container">
			<li class = "current"><%= image_tag("slide-01.jpg") %>
				

			</li>
			<li><%= image_tag("slide-02.jpg") %></li>
			<li><a href ="#"><%= image_tag("slide-03.jpg") %></a></li>
		</ul>
		<a href ="#" class ="prev">前の画像</a>
		<a href ="#" class ="next">次の画像</a>
	</div> -->
	<br>
	<br>




	<main>
	    <div id ="yield-and-sub">	
			<div class ="yield">	
				<%= yield %>
			</div>
			<div class ="sub-menu">
				<div class="search">
				<i class="fa fa-search fa-2x" aria-hidden="true">Search</i>
					<%= search_form_for @q do |f| %>

						<%= f.search_field :title_or_body_cont,:size => 35, :class => "search_field" %>
						<%= f.submit :class => "btn" %>
					<% end %>
				</div>
				<div class="user-rankings">
				<h2>ユーザー記事ランキング</h2>
				<p>＃ユーザの閲覧回数が多いものから順に...</p>
				</div>			<div class="tag-lists">
				<h2>Tag list(カテゴリ別)</h2>
				<p>#カテゴリ別の記事のみを表示したviewに(user only)</p>
				</div>
			</div>
		</div>
	</main>

	<footer>
	<td>このサイトについて<a href="https://github.com/lat-pull-down/TeamLPD" style="color:white;">
			<i class="fa fa-github fa-lg" aria-hidden="true"></i>

				</a></td> | <td>Copyright (C) melodic.inc 2016</td>


<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
 <!--  <div class='icon social fb'><i class='fa fa-facebook'></i></div>
  <div class='icon social tw'><i class='fa fa-twitter'></i></div>
  <div class='icon social in'><i class='fa fa-linkedin'></i></div> -->
	</footer>
  </body>
</html>
